
%h1= @article.title
%p= @article.category.name
%p= image_tag @article.image if @article.image.attached?  
%p= @article.body
%p 
  Author:
  = @article.user.first_name
%p= @article.created_at.strftime("%F")
= link_to 'back', articles_path 